#:schema https://raw.githubusercontent.com/eoeo-org/cloudflare-ip-address-changer-rs/refs/heads/main/schema.json

[account]
auth_key = "Cloudflare Auth Key"
zone_id = "Cloudflare Zone ID"

[dns]
record = "DNS Record"
type = "DNS Type"
proxied = if you want to proxy the record through Cloudflare, set to true
